POSTGRES_PASSWORD="kuentas_dev_password"
DATABASE_URL="postgresql://kuentas:kuentas_dev_password@localhost:5432/kuentas?schema=public"
SESSION_SECRET="replace-with-at-least-32-random-characters"
PASSWORD_RESET_EMAIL_USER="your-sender-email@gmail.com"
PASSWORD_RESET_EMAIL_APP_PASSWORD="your-gmail-app-password"
